@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #020202;
  --beebee-yellow: #F6CC1F;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-beebee-yellow: var(--beebee-yellow);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-logo: var(--font-montserrat);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
